@font-face {
    font-family: 'Roboto normal';
    font-style: normal;
    src: url("../font/roboto_Latin.woff2") format('woff2');
}

@font-face {
    font-family: "Bebas Neue";
    font-style: normal;
    src: url("../font/Bebas_Neue.woff2");
}

body {
    background-color: rgb(102, 102, 102);
    margin: 0;
    box-sizing: border-box;
}

header > .Navigate_bar{
    position: fixed;
    width: 100%;
    display: block;
    z-index: 100;
    background-color: rgb(255, 183, 0);
}

main{
    z-index: 0;
    display: block;
    margin-top: 80px;
}

p {
    font-family: 'Bebas Neue', sans-serif;
    color: tomato;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
}

/* Menu Primary Part*/

.Navigate_bar{
    top : 0;
    float: left;
    text-align: center;
    width: 100%;
}

.Navigate_bar a{
    font-size: 25px;
    position:relative ;
    right : 50%;
    float: left;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: rgb(142, 142, 142);
}

.Navigate_bar a:hover{
    text-decoration:dashed;
    color : white;
    text-shadow: 10px black;
}

.Menu_bar_list > .Menu_bar_item{
    list-style: none;
    display : inline-block;
    padding-top : 5px;
}

/* Logo clikable */

.Menu_logo_image > .Menu_logo {
    display: inline-block;
    position: relative;
    left: 15px;
}

.Menu_logo {
    padding: 5px 5px;
}

/*Menu Seconde part */

.Menu_bar_vehicule_div,.Menu_bar_batiment_div,.Menu_bar_vetement_div{
    display: none;
}

.Menu_bar_vehicule_choose,.Menu_bar_vehicule_choose,.Menu_bar_vehicule_choose > .Menu_bar_vehicule_choose_item, .Menu_bar_vetement_choose_item, .Menu_bar_vehicule_batiment_item, .Menu_bar_vehicule_choose_item a, .Menu_bar_vetement_choose_item a, .Menu_bar_vehicule_batiment_item a{
    list-style: none;
    display : inline-block;
    text-align: left;
    padding-top: 3px;
}

.Menu_bar_vehicule_choose_item a, .Menu_bar_vetement_choose_item a, .Menu_bar_vehicule_batiment_item a{
    padding-left: 10px;
    padding-right: 10px;
}

/*footer*/

footer {
    background-color: black;
    z-index: 50;
    display: block;
    
}