@import "./tailwind/tailwind.css";
@import "./bootstrap/bootstrap.css";

@font-face {
    font-family: 'Roboto normal';
    font-style: normal;
    src: url("../font/roboto_Latin.woff2") format('woff2');
}

@font-face {
    font-family: "Bebas Neue";
    font-style: normal;
    src: url("../font/Bebas_Neue.woff2");
}

*{
    image-rendering: auto !important;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.AutomobileTitre {
    font-size: 4vw !important;
    text-shadow: 0.2vw 0.2vh #000000;
}

.Automobile-Container {
    max-width: 60%;
    top: 10%;
}

/*==================================================================================================================================================================================*/

.navbar-toggler{
    border-color: rgba(255, 255, 255, 0.85) !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.85)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

/* =================================================================================================================================================================================*/

.carousel-inner-realisation > .carousel-item-realisation{
    height: 30vh !important;
}
 
.realisation-container{
    top: 10%;
    bottom: 90%;
    right: 20%;
}

.RealisationTitre{
    font-size: 9vw !important;
    text-shadow: 0.3vw 0.3vh #000000;
}

/* =================================================================================================================================================================================*/

.card-img-realisation{
    height: 27vh !important;
    max-height: 30vh !important
}

/* =================================================================================================================================================================================*/

#description{
    font-size: 2.5vh !important;
    line-height : 4.5vh !important;
}

/* =================================================================================================================================================================================*/
.ciel-etoile-text{
    font-size: 2vh !important;
}

.carousel-inner-ciel-etoile > .carousel-item-ciel-etoile{
    height: 30vh !important;
}

.ciel-etoile-container{
    padding-left: 5vw !important;
    padding-top: 4vh !important;
    padding-bottom: 7vh !important;
}

.title-ciel-etoile{
    font-size: 4vw !important;
    text-shadow: 0.1vw 0.1vh #000000;
    padding-top: 3vh !important;
}

.ciel-etoile-img-first{
    height: 30vh !important;
    width: auto !important;
}

.container-etoile-first{
    padding-left : 15vw !important;
}

.ciel-etoile-separator{
    height: 1.5vh !important;
    width: 100% !important;
    background-color: #000000 !important;
    margin-top: 3vh !important;
}

.ciel-etoile-img-second{
    height: 60vh !important;
    width: auto !important;
}

.container-etoile-second{
    padding-left : 20vw !important;
}

/* =============================================================================================================================================================================================*/

.container-covering{
    padding-left: 5vw !important;
    padding-top: 4vh !important;
    padding-bottom: 7vh !important;   
}

.covering-text{
    font-size: 3vh !important;
}

.video-covering{
    height: auto !important;
    width: 30vw !important;
    padding-left: 10vw !important;
}